*{
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}
:root{
  --negro:rgb(34,34,34);
  --negro-claro:rgb(38,38,38);
  --blanco:rgb(252,252,252);
  --blanco-oscuro:rgb(248,248,248);

  --gris:rgb(178,178,178);
  --gris-oscuro:rgb(102,102,102);
  --verde-oscuro:rgb(41,50,51);
  --marron:rgb(51,40,33);
  --azul-oscuro:rgb(33,33,49);
  --naranja-claro:rgb(255 171 124);

  --verde-claro:rgb(204,252,255);
  --crema:rgb(255,227,211);
  --lila:rgb(210 210 249);
  --lila-claro:rgb(232,232,252);

  --naranja:rgb(255, 115, 36);
  --azul:rgb(28, 28, 225);

  --padding-grande:20px;
  --padding-mediano:10px;

  --margin-pequeño:10px;
  --margin-mediano:1.45rem;

  --tamaño-titulo:24px;
  --tamaño-links:18px;

  --fuente-pequeña:16px;
  --fuente-mediana:20px;
  --fuente-grande:40px;
  
  --fuente-grande-mobile:24px;
  --fuente-mediana-mobile:20px;
  --fuente-pequeña-mobile:16px;
  --transition-pequeña:.3s;
  --transition-grande:.5s;
}
a {
  color: inherit;
  text-decoration: none;
}
